body{
    font-family: 'Nunito', sans-serif;
}

.heading{
    margin-top: 30px;
}

h5{
    margin: auto;
    text-align: left;
    padding-bottom: 15px;
}

.settings {
    margin: auto auto 35px 35px;
}
.settings fieldset {
    margin-bottom: 10px;
}
.settings fieldset label {
    margin-left: 0;
    padding-left: 0;
}
.settings fieldset textarea {
    margin-left: 5%;
    min-width: 90%;
}

.setUpArea{
    border: 1px dashed black;
    padding-bottom: 20px;
}

.rules{
    border: 1px dashed black;
    padding: 14px;
}

.rules div{
    font-size: 14px;
    margin: 10px;
    position: inline-block;
}
.remove{
    color: red;
    font-size: 14px;
}

#orderArea{
    padding-left: 10px;
}

#addRuleButton{
    margin-top: 5px;
    margin-left: 1%;
    padding: 2px;
}

#createOrderButton{
    padding: 15px;
    margin-left: 35%;
}


/*.settings {
	margin: 10px;
}*/
