body{
    font-family: 'Nunito', sans-serif;
}

.heading{
    margin: 30px;
}

h5{
/*    margin: auto;*/
    text-align: left;
/*    padding-bottom: 15px;*/
}

.settings {
    
}
.settings fieldset {
    margin-bottom: 10px;
}
.settings fieldset label {
    margin-left: 0;
    padding-left: 0;
}
.settings fieldset textarea {
    margin-left: 5%;
    min-width: 90%;
}

.setUpArea{
    /*border: 1px dashed black;
    padding-bottom: 20px;
}

.rules{
    /*border: 1px dashed black;*/
    padding: 9px;
}

.rules div{
    font-size: 14px;
    margin: 5px;
    position: inline-block;
}

.rules div select{
    width: 30%;
}
.remove{
    color: red;
    font-size: 14px;
}

#orderArea{
    padding-left: 10px;
    width: 500px;
}

#addRuleButton{
/*    margin-top: 5px;*/
    margin-left: 1%;
    padding: 1px;
}

#createOrderButton{
    padding: 5px;
    margin-left: 35%;
}

#container{
/*    margin: 10px;*/
    width: 700px;
    border: 1px solid #7d7d7d;
}

#rulesH5{
    display:inline;
}

#order-headings h5{
    display: inline;
}
#order-headings p{
    display: inline;
    text-align: right;
}


/*.settings {
	margin: 10px;
}*/
